<%= form_with(model: people_detail) do |form| %>
  <% if people_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(people_detail.errors.count, "error") %> prohibited this person's data from being saved:</h2>

      <ul>
        <% people_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class:"form-control", required: true %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class:"form-control", required: true %>
  </div>

  <div class="field form-group">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, class:"form-control", required: true, type: "tel", pattern: "[0]{1}[4-5]{1}[0-9]{2}[0-9]{3}[0-9]{3}" %>
  </div>

  <div class="field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control", required: true %>
  </div>

  <div class="actions">
    <%= form.submit value="Add New Friend" %>
  </div>
<% end %>
