<h1>Editing People Detail</h1>

<%= render 'form', people_detail: @people_detail %>
<div class="container">
    <%= render partial: "shared/flash" %>
    <%= yield %>
</div>
<%= link_to 'Show', @people_detail %> |
<%= link_to 'Back', people_details_path %>
