<p id="notice"><%= notice %></p>

<h1>People Added</h1>

<table class="table" table-bordered>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people_details.each do |people_detail| %>
      <tr>
        <td><%= people_detail.first_name %></td>
        <td><%= people_detail.last_name %></td>
        <td><%= people_detail.phone_number %></td>
        <td><%= people_detail.email %></td>
        <td><%= link_to 'Show', people_detail %></td>
        <td><%= link_to 'Edit', edit_people_detail_path(people_detail) %></td>
        <td><%= link_to 'Delete', people_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

